body {
    background: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
}

#quizContainer {
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #000;
    font-weight: normal;
    margin-bottom: 20px;
}

.questionMainContainer {
    /*padding: 1rem;*/
    width: 100%;
    float: left;
    line-height: auto;
}

.hide-me {
  display: none !important;
}

.questionContainer,
 div[id^="solutionContainer"] {
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 20px;
}

div[id^="solutionContainer"] {
    margin-bottom: 10%;
}

.questionContainer table,
 div[id^="solutionContainer"] table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-spacing: 0px;
}

.questionContainer table td,
 div[id^="solutionContainer"] table td {
    border: 1px solid #fff;
}

.questionContainer table th,
 div[id^="solutionContainer"] table th {
    border: 1px solid #fff;
}

.questionContainer h3,
 div[id^="solutionContainer"] h3 {
    font-weight: normal;
}

.questionContainer img,
 div[id^="solutionContainer"] img {
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

p{

    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: sans-serif;
}

.optionButton {
    text-align: center;
    background: #5A0ACF;
    color: #FFFFFF;
    border-radius: 10px;
    /*margin: 10px; */
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;

    margin-left: 5%;
    margin-right: 5%;
    outline: 0 !important;
    border : 4px solid #5A0ACF;
}

.optionButton img {
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

.optionButton table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-spacing: 0px;
}

.optionButton table td {
    border: 1px solid #000;
}

.optionButton table th {
    border: 1px solid #000;
}

.optionButton:active,
.optionButton:focus {
    outline: 0 !important;
}

.mjx-chtml:focus,
.mjx-chtml:active {
    outline: 0 !important;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.row {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    /*  flex-grow: 1;*/
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

body {
    background: #100226;
}

/** {
    overflow-x: hidden !important;
}*/


/*
body {
    background: #06080C;
    overflow-x: hidden;
}

#quizContainer *,
#quizContainer *:before,
#quizContainer *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/


/*#quizContainer {
    width: 100%;
    max-width: 100%;
    overflow-x: none;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    text-align: center;
    color: #FFF;
    font-weight: normal;
}
*/


/*.questionContainer {
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    margin-bottom: 20px;
}

.questionContainer table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-spacing: 0px;
}

.questionContainer table td {
    border: 1px solid #fff;
}

.questionContainer table th {
    border: 1px solid #fff;
}

.questionContainer h3 {
    font-weight: normal;
}

.questionContainer img {
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.optionButton {
    text-align: center;
    background: #fff;
    color: #06080C;
    border-radius: 8px;
    margin: 10px;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    outline: 0 !important;
    border: 0px;
}

.optionButton img {
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

.optionButton table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-spacing: 0px;
}

.optionButton table td {
    border: 1px solid #000;
}

.optionButton table th {
    border: 1px solid #000;
}

.optionButton:active,
.optionButton:focus {
    outline: 0 !important;
}

.mjx-chtml:focus,
.mjx-chtml:active {
    outline: 0 !important;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.row {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex-grow: 1;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
*/
